<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>another_example.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D0AF524183625F06F0B8238136E6044EE4A109EE</string>
				<key>dateExpires</key>
				<string>7/31/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>823S57WQK3.edu.northwestern.delta.J</string>
				<key>com.apple.developer.team-identifier</key>
				<string>823S57WQK3</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>823S57WQK3.edu.northwestern.delta.J</string>
				</array>
			</dict>
			<key>name</key>
			<string>otg-delivery-mobile.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c37343a3-1d1c-42db-9e45-1c96cd21b117</string>
				<key>name</key>
				<string>Delta Lab J</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>823S57WQK3</string>
				<key>name</key>
				<string></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
